@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Urbanist";
  src: url("/src/assets/fonts/Urbanist-ExtraBold.ttf");
  font-weight: 800;
}

* {
  font-family: "Urbanist";
}
