@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.project-card {
  border-radius: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 $mobile-side-spacing;
    gap: $mobile-spacing;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
      gap: $tablet-desktop-spacing;
    }
  }

  &__name {
    font-size: $mobile-h3-size;
    font-weight: 600;

    @include desktop {
      font-size: $desktop-h3-size;
    }
  }

  &__img-list {
    padding: $mobile-spacing;
    background-color: rgb(235, 235, 235);
    border-radius: 1rem;
    display: flex;
    gap: $mobile-spacing;
    list-style: none;
    justify-content: center;

    @include tablet {
      padding: $tablet-desktop-spacing;
      gap: $tablet-desktop-spacing;
    }
  }

  &__img {
    height: 15rem;
    object-fit: contain;
  }

  &__description {
    font-weight: 500;
    font-size: $mobile-p-size;

    @include tablet {
      font-size: $tablet-desktop-font-size;
    }
  }

  &__technology-list {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    flex-wrap: wrap;

    @include tablet {
      gap: 0.75rem;
    }
  }

  &__technology-pill {
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    background-color: rgba($white, 0.7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 200ms;

    &:hover {
      transform: scale(1.05);
      background-color: $hover-technology;
    }
  }

  &__technology-link {
    text-decoration: none;
    color: $black;
    font-weight: 500;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    color: $black;
    width: fit-content;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 200ms;

    &:hover {
      transform: scale(1.05);
      background-color: $hover-github;
    }
  }

  &__github-logo {
    width: 1rem;
    margin-right: 0.5rem;
  }
}
