@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.project-card {
  border-radius: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 $mobile-side-spacing;
    gap: 1rem;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
    }
  }

  &__name {
    font-weight: 500;
    margin-top: $mobile-spacing-top;
    margin-bottom: 1rem;
  }

  &__img-list {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  &__img {
    background-color: lightgrey;
    height: 15rem;
    object-fit: contain;
  }

  &__technology-list {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__technology {
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    background-color: rgba($white, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &__technology-link {
    text-decoration: none;
    color: $black;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.2rem 0.6rem;
    border-radius: 0.5rem;
    background-color: #d27ef6;
    color: $white;
    margin: 1rem 0;
    width: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &__github-logo {
    width: 1rem;
    margin-right: 0.5rem;
  }
}
