@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.hero {
  display: flex;
  background-color: white;
  width: 100%;
  height: calc(100dvh - 5rem); // 100dvh;
  background-image: url("/src/assets/react.svg");
  background-position: 2.5rem 8rem;
  background-repeat: no-repeat;
  background-size: auto 130%;
  justify-content: center;
  align-items: center;

  @include tablet {
    background-size: 150%;
    background-position: 3rem 7rem;
    height: calc(100dvh - 6.5rem);
  }

  @include desktop {
    background-size: 125%;
    background-position: 7.5rem 3rem;
  }

  &__container {
    display: flex;
    height: min-content;
    flex-direction: column;
    align-items: center;
    gap: $mobile-spacing;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
    }

    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
      padding: 2rem $tablet-desktop-side-spacing;
    }
  }

  &__container-top {
  }

  &__message {
    width: min-content;
    padding: 1rem;
    color: black;
    border-radius: 1rem;
    text-align: center;
    // glass effect
    background-color: rgba(white, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    @include tablet {
      width: auto;
    }
  }

  &__greeting {
    font-weight: 400;
    font-size: 2rem;
  }

  &__name {
    font-weight: 700;
    font-size: 3rem;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: $accent;
  }

  &__container-bottom {
    justify-content: center;
  }

  &__memoji {
    width: 12rem;

    @include tablet {
      width: 15rem;
    }
  }
}
