@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.hero {
  display: flex;
  background-color: white;
  width: 100%;
  height: calc(100dvh - 5rem); // 100dvh;
  background-image: url("/src/assets/react.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 130%;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    height: min-content;
    flex-direction: column;
    align-items: center;
    gap: $mobile-spacing;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
    }

    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
      padding: 2rem $tablet-desktop-side-spacing;
    }
  }

  &__container-top {
  }

  &__message {
    width: min-content;
    background-color: rgba(white, 0.8);
    padding: 1rem;
    color: black;
    border-radius: 1rem;
    text-align: center;
  }

  &__greeting {
    font-weight: 300;
    font-size: 2rem;
  }

  &__name {
    font-weight: 700;
    font-size: 3rem;
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    color: $accent;
  }

  &__container-bottom {
    justify-content: center;
  }

  &__memoji {
    width: 12rem;

    @include tablet {
      width: 15rem;
    }
  }
}
