@import 'tailwindcss';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Sono', monospace;
}

button,
a {
	cursor: pointer;
}

@font-face {
	font-family: 'Sono';
	font-style: normal;
	font-weight: 200 800;
	src: url('/fonts/Sono/Sono-VariableFont_MONO\,wght.ttf');
}

:root {
	--color-primary: oklch(67.336% 0.18442 37.113);
	--color-background: oklch(89.496% 0.03332 83.691);
	--color-text: oklch(0.2 0 0);
	--color-muted: oklch(0.4 0 0);
	--color-nav-bg: oklch(0.97 0 0 / 0.8);
	--color-nav-border: oklch(0.9 0 0);
	--color-nav-hover: oklch(0.93 0 0);
}

.dark {
	--color-primary: oklch(52.43% 0.24134 311.359);
	--color-background: oklch(20.247% 0.01448 304.533);
	--color-text: oklch(1 0 0);
	--color-muted: oklch(0.8 0 0);
	--color-nav-bg: oklch(0.18 0 0 / 0.8);
	--color-nav-border: oklch(0.25 0 0);
	--color-nav-hover: oklch(0.22 0 0);
}

@theme {
	--color-primary: var(--color-primary);
	--color-theme: #444444;
	--color-background: var(--color-background);
	--color-text: var(--color-text);
	--color-nav-bg: var(--color-nav-bg);
	--color-muted: var(--color-muted);
	--color-nav-border: var(--color-nav-border);
	--color-nav-hover: var(--color-nav-hover);
}

html {
	background-color: var(--color-background);
	color: var(--color-text);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
