@import 'tailwindcss';

* {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

:root {
	--color-background: oklch(0.90 0.04 300);
	--color-text: oklch(0.2 0 0);
	--color-nav-bg: oklch(0.97 0 0 / 0.8);
	--color-nav-border: oklch(0.9 0 0);
	--color-nav-hover: oklch(0.93 0 0);
}

.dark {
	--color-background: oklch(41.267% 0.11548 316.212);
	--color-text: oklch(58.834% 0.2334 28.492);
	--color-nav-bg: oklch(0.18 0 0 / 0.8);
	--color-nav-border: oklch(0.25 0 0);
	--color-nav-hover: oklch(0.22 0 0);
}

@theme {
	--color-theme: #444444;
	--color-background: var(--color-background);
	--color-text: var(--color-text);
	--color-nav-bg: var(--color-nav-bg);
	--color-nav-border: var(--color-nav-border);
	--color-nav-hover: var(--color-nav-hover);
}

html {
	background-color: var(--color-background);
	color: var(--color-text);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}
