@use "../../sass/abstract/variables.scss" as *;

.SocialsPage {
  height: 100dvh;
  width: 100dvw;
  background: $bermuda-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BusinessCard {
  padding: 1rem;
  aspect-ratio: 1.75/1;
  width: 25rem;
  max-width: 90dvw;
  height: min-content;
  background-color: $background;
  border-radius: 0.25rem;
  border-bottom: 0.2rem solid $accent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: $astronaut;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #6b7280;
    font-size: 0.875rem;
  }

  &__locationPin {
    width: 0.875rem;
    height: 0.875rem;
  }

  &__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-top: 0.5rem;
    max-width: 13rem;
  }

  &__technology {
    color: #1e40af;
    background-color: #dceaff;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__logo {
    width: 4rem;
    height: 4rem;
  }

  &__footer {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__social {
  }

  &__email {
    font-size: 0.875rem;
    color: #4b5563;
  }

  &__linkedin {
    width: 1.25rem;
    height: 1.25rem;
    color: #2563eb;
  }

  &__github {
    width: 1.25rem;
    height: 1.25rem;
    color: #1f2937;
  }

  &__btn {
    border: none;
    color: white;
    background-color: #2563eb;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.75rem;
    border-radius: 99rem;
    text-decoration: none;
  }

  &__btn-text {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2rem;
  }

  &__arrowRight {
    width: 1rem;
    height: 1rem;
  }
}
