@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.header {
  // display: flex;
  align-items: center;
  color: $black;
  height: 5rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $mobile-side-spacing;
    padding: 0.875rem 0;

    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
    }
  }

  &__logo {
    text-decoration: none;
    color: $black;
  }

  &__logo-img {
    width: 3rem;
  }

  &__nav {
    margin: 0 1rem;
  }

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  &__nav-link {
    text-decoration: none;
    color: $black;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
