@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.technology {
  background-color: $accent;
  color: white;

  @include desktop {
    margin: 0 auto;
  }

  &__container {
    margin: 0 $mobile-side-spacing;
    padding: $mobile-spacing-top 0;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
      padding: $tablet-desktop-spacing-top 0;
    }
  }

  &__title {
    font-weight: 500;
    font-size: $mobile-h3-size;
    padding-bottom: $mobile-spacing;
    letter-spacing: 0px;

    @include tablet {
      padding-bottom: $tablet-desktop-spacing;
    }

    @include desktop {
      font-size: $desktop-h3-size;
    }
  }

  &__marquee {
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
  }
}

@keyframes scrollLogo {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
