@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.imageGallery {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__display {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      width: 70%;
      margin: 0 auto;
    }

    &--btn {
      border: none;
      outline: none;
      background: none;
      font-size: 1rem;
      background-color: #eeeeee;
      cursor: pointer;
      height: 3rem;
      width: 2rem;
      border-radius: 0.25rem;
    }

    &--img {
      object-fit: contain;
      width: 12rem;
      height: 12rem;
      cursor: pointer;

      @include tablet {
        width: 25rem;
        height: 22rem;
      }

      @include desktop {
        width: 28rem;
        height: 25rem;
      }
    }
  }

  &__list-container {
    display: flex;
    justify-content: center;
  }

  &__list {
    margin-top: $mobile-spacing-top;
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    cursor: pointer;

    &--active {
      background-color: #666666;
      border-radius: 0.25rem;
    }
  }

  &__preview-img {
    object-fit: contain;
  }
}
