@use "./variables.scss" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin floatingAnimation {
  animation: float 15s infinite;

  @keyframes float {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 1% -1%;
    }
    50% {
      background-position: -1% 1%;
    }
    75% {
      background-position: 1% -1%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
