//device width
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
$desktop-max-width: 90rem;

//spacing
$mobile-spacing-top: 1.5rem;
$mobile-spacing: 1rem;
$mobile-side-spacing: 1rem;

$tablet-desktop-spacing-top: 2.25rem;
$tablet-desktop-spacing: 1.5rem;
$tablet-desktop-side-spacing: 2.25rem;

//header colour
$black: #030708;
$white: #f7fbfc;
$background: rgb(240, 240, 240);
$primary: #159eca;
$secondary: #82d2ec;
$accent: #48c7f1;
