@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.imageGallerySlider {
  &__container {
    margin: 0 $mobile-side-spacing;
    display: flex;
    flex-direction: column;
  }

  &__display {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--btn {
      border: none;
      outline: none;
      background: none;
      font-size: 1rem;
      background-color: #eeeeee;
      cursor: pointer;
      height: 3rem;
      width: 2rem;
      border-radius: 0.25rem;
    }

    &--img {
      max-height: 12rem;
    }
  }

  &__list-container {
    display: flex;
    justify-content: center;
  }

  &__list {
    margin-top: $mobile-spacing-top;
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
    display: flex;
    justify-content: center;
    max-width: 3rem;
    height: 3rem;
    padding: 0.25rem;

    &--active {
      background-color: #666666;
      border-radius: 0.25rem;
    }
  }

  &__preview-img {
    object-fit: contain;
  }
}
