@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.vanilaCssPage {
  height: calc(100dvh - 4.125rem);

  &__container {
    margin-top: $mobile-spacing;
    margin: $mobile-side-spacing;

    @include tablet {
      margin-top: $tablet-desktop-spacing;
      margin: 0 $tablet-desktop-side-spacing;
    }

    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: $mobile-spacing;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    justify-content: center;

    @include tablet {
      grid-template-columns: auto auto auto auto;
      grid-gap: 4rem;
    }
  }
}

.newBtn {
  width: 4rem;
  height: 2rem;
  border-radius: 100rem;
  background-color: $hover-github;
  position: relative;

  &__checkbox {
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      top: 0;
      left: 0;
      transition: 200ms ease-in-out;
    }

    &:checked::before {
      content: "";
      background-color: green;
      transform: translateX(100%);
    }

    &::after {
      content: "off";
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
    }

    &:checked:after {
      content: "on";
      transform: translateX(100%);
    }
  }
}
