@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.addCompareItemModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: white;
    width: 75%;
    height: 50%;
    border-radius: 0.5rem;
    padding: $mobile-spacing;

    @include tablet {
      width: 50%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__btn-close {
    cursor: pointer;
  }
}
