@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.project {
  background-color: white;

  &__container {
    margin: 0 $mobile-side-spacing;
    display: flex;
    flex-direction: column;
    padding-bottom: $mobile-spacing;

    @include tablet {
      margin: 0 $tablet-desktop-side-spacing;
      padding-bottom: 2.25rem;
    }
  }

  &__title {
    font-weight: 600;
    margin-top: $mobile-spacing-top;
    margin-bottom: 1rem;
    font-size: $mobile-h2-size;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: $mobile-spacing;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    padding-top: $mobile-spacing-top;

    @include tablet {
      gap: $tablet-desktop-spacing;
    }
  }

  &__divider {
    border-bottom: 1px solid rgb(220, 220, 220);
    margin: 0 $mobile-side-spacing;
  }
}
