@use "../../../sass/abstract/variables.scss" as *;
@use "../../../sass/abstract/mixins.scss" as *;

.animations {
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - 5rem);

  &__container {
    width: 100vw;
    margin: 0 $mobile-side-spacing;
  }

  &__title {
    font-weight: 600;
    font-size: $mobile-h2-size;
  }

  &__list {
    margin-top: $mobile-spacing;
    min-height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include tablet {
    }
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    border: $black 1px solid;
    border-radius: 1rem;
    height: 5rem;
    text-align: center;
    padding: $mobile-spacing;
    margin: auto 0;
  }
}
